.App {
  text-align: center;
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0%;
  padding: 0%;
  padding-bottom: 2%;
}
a {
  text-decoration: none;
}

.profileImg {
  width: 20%;
  height: 20%;
  border-radius: 20%;
  margin-top: 10vh;
}

.info-text{
  padding-left: 5vw;
  padding-right: 5vw;
}

.section-title{
  margin-top: 10%;
  font-weight: bold;
  color: #61dafb;
}

.video{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 100%;
}

.image-grid-NSB{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.image-grid-CT{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.image-grid-CT div img{
  width: 100%;
  height: 100%;
}
.image-grid-NSB div img{
  width: 100%;
  height: 100%;
}

.button-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.link-button-NSB{
  padding: 10%;
  background-color: rgb(207, 226, 33);
  color: white;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgb(255, 255, 255);
}
.link-button-CT{
  padding: 10%;
  background-color: rgb(170, 154, 9);
  color: white;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgb(255, 255, 255);
}
.link-button-CV{
  padding: 10%;
  background-color: rgb(9, 133, 250);
  color: white;
  border-radius: 15%;
  box-shadow: 4px 4px 4px rgb(255, 255, 255);
}
.link-button-NSB:hover{
  background-color: rgb(245, 202, 12);
}
.link-button-CT:hover{
  background-color: rgb(94, 77, 5);
}
.link-button-CV:hover{
  background-color: rgb(1, 238, 255);
}

.project-title{
  font-weight: bold;
  font-size: 200%;
}

.just-test {
  color: #61dafb;
  color: #2ec7f1;
}
