.App {
  text-align: center;
  font-family: 'M PLUS 1 Code', sans-serif;
  background-color: #007A47;
  font-size: calc(10px + 2vmin);
  color: #4BFBB2;
  margin: 0%;
  padding: 0%;
  padding-bottom: 2%;
}
a {
  text-decoration: none;
}

.profileImg {
  width: 20%;
  height: 20%;
  border-radius: 20%;
  margin-top: 10vh;
}

.info-text{
  padding-left: 5vw;
  padding-right: 5vw;
  color: white;
}

.section-title{
  margin-top: 10%;
  font-weight: bold;
  color: #61dafb;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 5vh;
  width: 100%;
  height: 100%;
}

.image-grid-NSB{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}
.image-grid-CT{
  box-sizing: content-box;
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.image-grid-CT div img{
  width: 100%;
  height: 100%;
}
.image-grid-NSB div img{
  width: 100%;
  height: 100%;
}

.button-container{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.link-button{
  padding: 10%;
  background-color: #00FA92;
  color: white;
  border-radius: 30%;
  box-shadow: 4px 4px 4px rgb(255, 255, 255);
}

.link-button:hover{
  background-color: #00C774;
}

.project-title{
  font-weight: bold;
  font-size: 200%;
}
